.contenedor-portada{
    position: relative;
    color: white;
}

.contenedor-nombre, .contenedor-categoria{
    background-color: var(--ing-verde);
    position: absolute;
    width:100%;
}

.contenedor-nombre{
    bottom: 0;
}

.contenedor-categoria{
    top: 0;
}

.item-consulta .enlace-evento{
    text-decoration: none;
    color: white;
}

.item-consulta .enlace-evento:hover{
    color: var(--ing-azul);
}

.item-consulta i{
    color: var(--ing-azul);
}

.contenedor-info{
    list-style-type: none;
}

.item-consulta .card-body{
    background-color: rgb(245, 245, 245);
}

.item-consulta img{
    object-fit: cover;
}

@media screen and (max-width: 575px){
    .item-consulta img{
        height: 140px;
    }
}

@media screen and (min-width: 576px){
    .item-consulta img{
        height: 160px;
    }
}
